// app global css in SCSS form
@import "./quasar.variables.scss";

* {
	font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
	// font-size: 12pt;	//! CAUSA ERRO NO Q-TOGGLE
	// line-height: 14pt;
	cursor: default !important;
	user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-variant-caps: small-caps;
	margin: 0;
}

div,
.q-list,
.q-item,
.q-item__section,
.q-item-section,
.q-separator,
.q-link,
.q-focusable,
.q-hoverable {
	cursor: default !important;
}

.q-splitter__separator-area {
	cursor: col-resize !important;
}

.scrolless {
	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

//* -------------------------------- TOGGLE -------------------------------- *//
.q-toggle__label {
	font-variant-caps: small-caps;
	font-size: 1.2em !important;
}
.q-toggle__thumb::before {
	background-color: $primary;
}
.q-toggle__thumb::after {
	background-color: $color-l4;
}
//* -------------------------------- SLIDER -------------------------------- *//
.q-slider__track-container {
	height: 5px;
	border-radius: 2px;
	background-color: $primary;
	opacity: 50%;
}

$sliderThumbSize: 24px;

.q-slider__thumb {
	width: $sliderThumbSize;
	height: $sliderThumbSize;
}
.q-slider__focus-ring {
	width: $sliderThumbSize;
	height: $sliderThumbSize;
}

//* --------------------------------- TABS --------------------------------- *//
.q-tab__indicator {
	display: none !important;
}

#row_tabs
	> div
	> div.q-tab.relative-position.self-stretch.flex.flex-center.text-center.q-tab--active.q-focusable.q-hoverable.cursor-pointer.text-bold
	> div.q-tab__content.self-stretch.flex-center.relative-position.q-anchor--skip.non-selectable.column
	> div {
	font-size: 1.2em !important;
	text-transform: uppercase;
}

.q-tab__label {
	font-size: 1rem !important;
}
.q-tab--active {
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.q-route-tab__label {
	font-size: 1rem !important;
}

.q-route-tab--active {
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 700 !important;
}

//* --------------------------------- FONT --------------------------------- *//
.cs-caps {
	font-variant-caps: petite-caps !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
	font-variant-caps: small-caps;
	margin: 0;
}

//* ------------------------------ BACKGROUND ------------------------------ *//

.bg-prA {
	background-color: $color_Pr_A;
}
.bg-pnA {
	background-color: $color_Pn_A;
}
.bg-prB {
	background-color: $color_Pr_B;
}
.bg-pnB {
	background-color: $color_Pn_B;
}
.bg-pr0 {
	background-color: $color_Pr_0;
}
.bg-pn0 {
	background-color: $color_Pn_0;
}
