// app global css in SCSS form
* {
	font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 14pt;

	cursor: default !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-variant-caps: petite-caps;
	margin: auto;
}

div,
.q-list,
.q-item,
.q-item__section,
.q-item-section,
.q-separator,
.q-link,
.q-focusable,
.q-hoverable {
	cursor: default !important;
}

.q-splitter__separator-area {
	cursor: col-resize !important;
}
