// app global css in SCSS form
@import "./quasar.variables.scss";

* {
	/* Hide scrollbar for Chrome, Safari and Opera */
	// ::-webkit-scrollbar {
	// 	display: none;
	// }
	// -ms-overflow-style: none; /* IE and Edge */
	// scrollbar-width: none; /* Firefox */
	font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
	font-size: 12pt;
	line-height: 14pt;
	cursor: default !important;
	// overflow: hidden;
	user-select: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-variant-caps: small-caps;
	margin: auto;
}

div,
.q-list,
.q-item,
.q-item__section,
.q-item-section,
.q-separator,
.q-link,
.q-focusable,
.q-hoverable {
	cursor: default !important;
}

.q-splitter__separator-area {
	cursor: col-resize !important;
}

.scrolless {
	/* Hide scrollbar for Chrome, Safari and Opera */
	::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.q-tab__indicator {
	display: none !important;
}

#row_tabs
	> div
	> div.q-tab.relative-position.self-stretch.flex.flex-center.text-center.q-tab--active.q-focusable.q-hoverable.cursor-pointer.text-bold
	> div.q-tab__content.self-stretch.flex-center.relative-position.q-anchor--skip.non-selectable.column
	> div {
	font-size: 1.2em !important;
	text-transform: uppercase;
}

.q-tab__label {
	font-size: 1rem !important;
}

.q-tab--active {
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.q-route-tab__label {
	font-size: 1rem !important;
}

.q-route-tab--active {
	text-transform: uppercase;
	text-transform: uppercase;
	font-weight: 700 !important;
}
.cs-caps {
	font-variant-caps: petite-caps !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6 {
	margin: 0 auto;
	font-variant-caps: small-caps;
}

.bg-prA {
	background-color: $color_Pr_A;
}
.bg-pnA {
	background-color: $color_Pn_A;
}
.bg-prB {
	background-color: $color_Pr_B;
}
.bg-pnB {
	background-color: $color_Pn_B;
}
.bg-pr0 {
	background-color: $color_Pr_0;
}
.bg-pn0 {
	background-color: $color_Pn_0;
}

.bg-bottom {
	fill: $color-l2;
	stroke: $color-l3-hl1;
	stroke-width: 4px;
}
.bg-bottom-off {
	fill: $color-l2;
	stroke: $color-l3-hl1;
	stroke-width: 8px;
}
.bg-bottom-on {
	fill: $color-d2;
	stroke: $color-l3-hl1;
	stroke-width: 4px;
}

.btm-arw {
	stroke: $color-d2;
	stroke-width: 6px;
	marker-end: url(#btm-arwhead);
}
.btm-arrowhead {
	fill: $color-d2;
	stroke-width: 0;
}
