// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;

$primary: #607d8b;
$secondary: #009688;
$accent: #9c27b0;

$dark: #263238;

$positive: #4caf50;
$negative: #d32f2f;
$info: #00acc1;
$warning: #fdd835;

$h_title: 36px;
$h_tabs: 36px;
$h_ribbon: 72px;
$h_footer: 24px;

// $color-l5: hsl(200, 18%, 96%);
// $color-l4: hsl(200, 18%, 86%);
// $color-l3: hsl(200, 18%, 76%);
// $color-l2: hsl(200, 18%, 66%);
// $color-l1: hsl(200, 18%, 56%);
// $color-00: hsl(200, 18%, 46%);
// $color-d1: hsl(200, 18%, 36%);
// $color-d2: hsl(200, 18%, 26%);
// $color-d3: hsl(200, 18%, 16%);
// $color-d4: hsl(200, 18%, 10%);

$color-l5: lighten($primary, 45%);
$color-l4: lighten($primary, 40%);
$color-l3: lighten($primary, 30%);
$color-l2: lighten($primary, 20%);
$color-l1: lighten($primary, 10%);
$color-00: $primary;
$color-d1: darken($primary, 10%);
$color-d2: darken($primary, 20%);
$color-d3: darken($primary, 30%);
$color-d4: darken($primary, 40%);
$color-d5: darken($primary, 45%);

$bg1000: hsl(200, 19%, 18%);
$bg0800: hsl(200, 18%, 26%);
$bg0700: hsl(199, 18%, 33%);
$bg0600: hsl(199, 18%, 40%);
$bg0500: hsl(200, 18%, 46%);
$bg0400: hsl(200, 15%, 54%);
$bg0300: hsl(200, 16%, 62%);
$bg0200: hsl(200, 15%, 73%);
$bg0100: hsl(198, 16%, 84%);
$bg0050: hsl(204, 15%, 94%);

$shadow1: 5px 5px 10px transparentize($primary, 0.75);
$shadow2: 5px 5px 10px transparentize($color_d4, 0.5);
$shadowscroll: 0px 0px 5px transparentize($primary, 0.75);

$menu-background: $color-l5 !important; //Open Menu

$body-font-size: 14px !default;
$body-line-height: 1.5 !default;

$animate-duration: 0.1s !important;
$animate-delay: 0.1s !important;

$button-border-radius: 8px !default;

$layout-border: 3px solid $primary !default;

$h1: (
	size: 2rem,
	line-height: 2.25rem,
	letter-spacing: -0.01562em,
	weight: 300,
) !default;
$h2: (
	size: 1.5rem,
	line-height: 1.75rem,
	letter-spacing: -0.00833em,
	weight: 300,
) !default;
$h3: (
	size: 1.2rem,
	line-height: 1.75rem,
	letter-spacing: normal,
	weight: 400,
) !default;
$h4: (
	size: 1rem,
	line-height: 1.5rem,
	letter-spacing: 0.00735em,
	weight: 400,
) !default;
$h5: (
	size: 0.85rem,
	line-height: 0.85rem,
	letter-spacing: normal,
	weight: 400,
) !default;
$h6: (
	size: 0.75rem,
	line-height: 0.75rem,
	letter-spacing: 0.0125em,
	weight: 500,
) !default;
$subtitle1: (
	size: 1rem,
	line-height: 1.25rem,
	letter-spacing: 0.00937em,
	weight: 400,
) !default;
$subtitle2: (
	size: 0.85rem,
	line-height: 1rem,
	letter-spacing: 0.00714em,
	weight: 500,
) !default;
$body1: (
	size: 1rem,
	line-height: 1.25rem,
	letter-spacing: 0.03125em,
	weight: 400,
) !default;
$body2: (
	size: 0.85rem,
	line-height: 1rem,
	letter-spacing: 0.01786em,
	weight: 400,
) !default;
$overline: (
	size: 0.75rem,
	line-height: 1rem,
	letter-spacing: 0.16667em,
	weight: 500,
) !default;
$caption: (
	size: 0.75rem,
	line-height: 1rem,
	letter-spacing: 0.03333em,
	weight: 400,
) !default;

// $z-fab                : 990 !default;
// $z-side               : 1000 !default;
// $z-marginals          : 2000 !default;
$z-fixed-drawer: 9999 !default;
// $z-fullscreen         : 6000 !default;
// $z-menu               : 6000 !default;
// $z-top                : 7000 !default;
// $z-tooltip            : 9000 !default;
// $z-notify             : 9500 !default;
// $z-max                : 9998 !default;

.bg-cs-l1 {
	background-color: $color-l1 !important;
}
.bg-cs-l2 {
	background-color: $color-l2 !important;
}
.bg-cs-l3 {
	background-color: $color-l3 !important;
}
.bg-cs-l4 {
	background-color: $color-l4 !important;
}
.bg-cs-l5 {
	background-color: $color-l5 !important;
}

.bg-cs-d1 {
	background-color: $color-d1 !important;
}
.bg-cs-d2 {
	background-color: $color-d2 !important;
}
.bg-cs-d3 {
	background-color: $color-d3 !important;
}
.bg-cs-d4 {
	background-color: $color-d4 !important;
}
.bg-cs-d5 {
	background-color: $color-d5 !important;
}
.bg-cs-hl-1 {
	background-color: rgba(255, 255, 255, 0.125) !important;
}

.txt-cs-d1 {
	color: $color-d1 !important;
}
.txt-cs-d2 {
	color: $color-d2 !important;
}
.txt-cs-d3 {
	color: $color-d3 !important;
}
.txt-cs-d4 {
	color: $color-d4 !important;
}
.txt-cs-d5 {
	color: $color-d5 !important;
}

.cs-border {
	border: 1px solid transparentize($primary, 0.4);
}

.small-caps {
	font-variant-caps: small-caps;
}

.cs-dense {
	padding: 0;
	margin: 0;
}

//* -------------------------------- SLIDER -------------------------------- *//
.slider {
	-webkit-appearance: none;
	width: 76%;
	height: 6px;
	border-radius: 3px;
	//! background: $color_l2;
	outline: none;
	-webkit-transition: 0.2s;
	transition: all 0.2s;
	//_ margin: 0 20px;
	margin: 20px 5px;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 32px;
	border-radius: 8px;
	//! background: $sldr_color;
	transition: all 0.1s;
	//! box-shadow: $sldr_shadow;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	//! background: $sldr_color;
	cursor: pointer;
	//! box-shadow: $sldr_shadow;
}
